@import url(https://fonts.googleapis.com/css?family=Oswald);

/* general */

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.7em;
  position: relative;
  font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.4;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Oswald';
}

h1 {
  font-size: 40px;
  color: #222;
}

h2{
  font-size: 32px;
  color: #444;
  
}

h3, h4{
  color: #666;
  margin-top: 20px;
}

.title {
  color: #466c8c;
}

a {
  color: #466c8c;
}

a:hover {
  color: #999;
}

/* navbar */

.navbar-default {
  font-family: 'Oswald';
  background-color: #fff;
  border-color: #466c8c;
  height: 1rem;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #ccc;
  color: #466c8c;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #fff;
  color: #466c8c;
  border-left: 1px solid #466c8c;
  border-right: 1px solid #466c8c;
  border-bottom: 0;

}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: #ccc;
}

.navbar-default .in,
.navbar-default .collapsing {
  background-color: #fff;
  border-bottom: 1px solid #466c8c;
}

.navbar-default .in .navbar-nav>.active>a,
.navbar-default .collapsing .navbar-nav>.active>a {
  border-left: 10px solid #466c8c;
  border-right: 0;
}

/* footer */

footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background-color: #1f3641;
  padding: 1rem;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.icon-footer {
  padding: 0 2px 0 2px;
}

.tocify {
  font-family: 'Oswald';
  font-size: 16px;
  color: #999;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #466c8c;
  border-color: #466c8c;
}

/* welcome */

#welcome {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  padding: 150px 0 150px 0;
  margin: 50px 0 50px 0;
  background-image: url("../images/welcome-background.jpg");
  background-size: cover;
}

#welcome-button {
  font-size: 16px;
  color: #fff;
  background: #466c8c;
  padding: 10px;
  border: 0;
}

#welcome-button:hover {
  background: #999;
}

/* welcome anmination */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;
}

.fade-delay {
  animation-delay: .5s;
}


/* notes logo */

.logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}